.floatclass {
    float: left;
}

.govrgologo {
    color: white;
    font-size: 200%;
}

.graytext {
    color: gray;
    font-size: 200%;
}

.clear-left-border {
    margin-left: 0px;
    width: 100%;
    padding-left: 0px;
}

/* Default to hide the video on all devices */
#video {
    display: none
}

/* Default to display the image on all devices */
#videosubstitute {
    display: block;
    width: auto;
    height: 100%;
    width: 100%;
}

/*html, body {
    height: 100%;
    margin: 0;
}*/
#fullScreenDiv {
    width: 100%;
    min-height: 100%;
    width: auto;
    padding: 0 !important;
    margin: 50px 50px 0px 50px !important;
    background-color: gray;
    position: relative;
    overflow: hidden;
}

#video {
    width: 100%;
    height: auto;
    object-fit: cover;
    left: 0px;
    top: 0px;
    z-index: 1;
}

#video-art {
    width: 100%;
    height: auto;
    object-fit: cover;
    left: 0px;
    top: 0px;
    z-index: 1;
}

#videoDiv {
    position: absolute;
    background-color: rgba(0, 0, 0, 0.5);
    width: 100%;
    height: 100%;
}

/*@media (min-aspect-ratio: 16/9) {
    #video {
        height: 150%;
        top: -100%;
    }

    #videosubstitute {
        display: block;
        width: 100vw;
        height: 100vh;
    }
}*/

/*@media (max-aspect-ratio: 16/9) {
    #video {
        width: 100%;
        height: 100%;
    }

    #videosubstitute {
        display: block;
        width: 100vw;
        height: 100vh;
    }
}*/


/* The container for our text and stuff */
#messageBox {
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
}

.contentt2 {
    display: none
}

.clearmargin {
    margin: 0px;
    padding: 0px;
}


.pull-left {
    float: left !important;
}

.pull-right {
    float: right !important;
}


.clearmarginonly {
    margin: 0px;
}


.override-check-box {
    padding-left: 20px;
    margin-bottom: 15px;
}

.margin-left-right-100 {
    margin-left: 200px;
    margin-right: 200px
}

.min-width-100 {
    min-width: 100%;
}

.btn:hover {
    background-position: right center; /* change the direction of the change here */
}

.btn-1 {
    background-image: linear-gradient(to right, rgba(246, 211, 101, 1), rgba(246, 211, 101, 1));
}

.container-how-to {
    position: relative;
    text-align: center;
}

.centered-text-how-to-1 {
    position: absolute;
    top: 15%;
    margin: 10%;
}

.centered-text-how-to-2 {
    position: absolute;
    bottom: 15%;
    margin: 10%;
    text-align: center;
}

.centered-text-how-to-3-1 {
    position: absolute;
    top: 2%;
    margin: 10%;
    text-align: center;
}

.centered-text-how-to-3-2 {
    position: absolute;
    top: 30%;
    margin: 10%;
    text-align: center;
}

.centered-text-how-to-4 {
    position: absolute;
    bottom: 30%;
    margin-left: 35%;
    text-align: center;
}

.md-modal {
    position: fixed;
    top: 50%;
    left: 50%;
    width: 50%;
    max-width: 430px;
    min-width: 320px;
    height: auto;
    z-index: 2000;
    visibility: hidden;
    backface-visibility: hidden;
    transform: translateX(-50%) translateY(-50%);
}

.md-effect-1 .md-content {
    transform: scale(0.7);
    opacity: 0;
    transition: all 0.3s;
}

.md-content {
    color: rgb(255, 255, 255);
    position: relative;
    background: rgba(0, 0, 0, 0.8);
    border-radius: 3px;
    margin: 0px auto;
    padding: 1%;
}

.form {
    text-align: center;
    position: relative;
    margin: 50px auto;
}

.md-show {
    visibility: visible;
}

.md-content button {
    display: block;
    font-size: 0.8em;
    margin: 0px auto;
    outline: none;
}

.md-close {
    position: absolute;
    top: 0px;
    right: 0px;
    color: rgb(255, 255, 255);
    font-size: 20px;
    cursor: pointer;
    background: transparent;
    border-width: initial;
    border-style: none;
    border-color: initial;
    border-image: initial;
}

.md-show.md-effect-1 .md-content {
    transform: scale(1);
    opacity: 1;
}

.md-effect-1 .md-content {
    transform: scale(0.7);
    opacity: 0;
    transition: all 0.3s;
}

.form input {
    width: 75%;
    border-top-width: initial;
    border-right-width: initial;
    border-left-width: initial;
    border-top-color: initial;
    border-right-color: initial;
    border-left-color: initial;
    color: rgb(255, 255, 255);
    background: transparent;
    border-style: none none solid;
    border-image: initial;
    border-bottom: 1px solid rgba(255, 255, 255, 0.49);
    margin: 7px 0px;
    padding: 15px;
    font-size: 1.7em;
}

.md-content h3 {
    text-align: center;
    font-size: 1.3em;
    font-weight: 300;
    opacity: 0.8;
    margin: 0px;
    padding: 0.4em;
    background: rgba(0, 0, 0, 0.1);
    border-radius: 3px 3px 0px 0px;
    color: white;
}

/*fix перекоытие надписи главного меню*/
.navbar-right {
    margin-right: 0px;
    margin-top: 10px;
}

.root-div {
    border-width: 0px;
    position: absolute;
    left: 0px;
    top: 0px;
    background: -webkit-linear-gradient(1deg, rgba(0, 255, 153, 1) 0%, rgba(0, 255, 153, 1) 0%, rgba(0, 153, 51, 1) 100%, rgba(0, 153, 51, 1) 100%);
    background: -moz-linear-gradient(89deg, rgba(0, 255, 153, 1) 0%, rgba(0, 255, 153, 1) 0%, rgba(0, 153, 51, 1) 100%, rgba(0, 153, 51, 1) 100%);
    background: linear-gradient(89deg, rgba(0, 255, 153, 1) 0%, rgba(0, 255, 153, 1) 0%, rgba(0, 153, 51, 1) 100%, rgba(0, 153, 51, 1) 100%);
    border: none;
    border-radius: 0px;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
    width: 100%;
    min-height: 100%;
}

.font-1 {
    font-style: normal;
    color: rgb(0, 255, 153);
}

.font-center-heading-1 {
    font-style: normal;
    color: rgb(0, 255, 153);
    text-align: center;
    font-size: 24px;
    margin-top: 45px;
}

.font-center-gamed-name-1 {
    font-style: normal;
    color:#929496;
    text-align: center;
    font-size: 14px;
    margin-top: 5px;
}

.font-margin-bottom {
    margin-bottom: 35px;
}

.font-left-game-item-1 {
    font-style: normal;
    height: 22px;
    color: #666666;
    font-size: 18px;
    text-align: left;
    margin: 4px;
    font-weight: 700;
}

.font-left-game-descript-1 {
    font-style: normal;
    font-size: 12px;
    color: #666666;
}

.font-left-game-descript-2 {
    font-style: normal;
    font-size: 10px;
    color: #FFFFFF;
}

.font-center-heading-2 {
    font-style: normal;
    color: #CCCCCC;
    text-align: center;
    font-size: 14px;
    margin-left: 25px;
    margin-right: 25px;
}

.font-heading-2-left {
    font-style: normal;
    color: #CCCCCC;
    text-align: left;
    font-size: 14px;
    margin-left: 25px;
    margin-right: 25px;
}

.font-center-heading-3 {
    font-style: normal;
    color: #FFFFFF;
    text-align: center;
    font-size: 18px;
    margin: 10px;
    margin-bottom: 20px;
}


.font-games-menu {
    font-size: 11px;

}

.font-align-left-heading-4 {
    font-style: normal;
    color: #FFFFFF;
    text-align: left;
    font-size: 18px;
}

.font-align-left-text-4 {
    font-style: normal;
    color: #FFFFFF;
    text-align: left;
    font-size: 12px;
}

.font-2 {
    font-size: 12px;
    color: rgb(255, 255, 255);
}


.font-booking-text {
    font-weight: 700;
    font-style: normal;
    font-size: 22px;
    color: #FFFFFF;
}

.font-booking-text-little {
    font-size: 12px;
    color: #CCCCCC;
}

.font-booking-text-little-star {
    font-size: 8px;
    color: #FFFFFF;

}

.videoWrapper {
    position: relative;
    padding-bottom: 56.25%; /* 16:9 Aspect Ratio */
    height: 0;
    width: 100%; /* You can set this width to whatever suits your needs */
    margin: 0 auto;
}

.videoWrapper video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}


.thumbnail-image {
    position: relative;
    width: 30px;
    height: 30px;
}

.caption-text-on-image {
    width: 30px;
    height: 30px;
    position: absolute;
    top: 10%;
    left: 0;
    width: 100%;
}


.header-first-border-booking {
    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-bottom-color: rgba(121, 121, 121, 1);
    border-bottom-radius: 0px;
    margin-top: 5px;
    margin-bottom: 5px;
}


.game-item {
    background-color: rgba(255, 255, 255, 1);
}

.game-wraper-button {
    margin: 0px;
    padding: 6px;
}

.padding-px {
    padding: 5px;
}

.padding-right-left-20px {
    padding-right: 20px;
    padding-left: 20px;
}

.padding-game-item-text {
    padding: 0px;
    padding-left: 5px;
}

.color-main{
color: rgb(0, 255, 153);
}

/*!* Desktops and laptops ----------- *!
@media (min-width: 992px) and (max-width: 1199px) {

}

!* Large screens ----------- *!
@media (min-width: 1200px) and (max-width: 3000px) {

}*/


.font-header-menu {
    color: white;
    font-size: 12px;
}

.contact-relative {
    position: absolute;
    width: 100%;
    left: 20px;
    right: 0;
    margin-left: 0px;
    top: 70px;
}


.icon-social-relative {
    position: absolute;
    width: 100%;
    left: 20px;
    right: 0;
    margin-left: 0px;
    top: 200px;
}


.text-contact-relative {
    color: white;
    font-size: 16px;
}

.middle-info {
    position: absolute;
    bottom: 0;
    width: 100%;
    left: 0;
    right: 0;
    margin-left: 0px;
    margin-bottom: 12%;
}

h3_1 {
    font-size: 20px;
    line-height: 30px;
    letter-spacing: 0px;
    color: #ffffff;
    font-weight: 700;
}

.logo-icon {
    max-width: 60px;
    margin: 0px;
    position: relative;
}

.logo-text {
    position: absolute;
    top: 20px;
    left: 50px;
}

.vcenter-allign {
    display: flex;
    align-items: center;
}

.header-margin-top {
    margin-top: 60px;
    margin-left: 50px;
    margin-right: 50px;
    background-color: rgba(0, 0, 0, 1);
}

.margin-left-link {
    margin-left: 30px;
}

.p-mobile {
    margin-top: 10px;
}


.section-border {
    border-radius: 1px;
    border-bottom: 2px solid;
    border-image: linear-gradient(to right, #0fc66c 0%, #40ff50 100%);
    border-image-slice: 1;
    order-width: 2px;
    padding-bottom: 10px;
}

.section-border-1px {
    border-radius: 1px;
    border-bottom: 1px solid;
    border-image: linear-gradient(to right, #0fc66c 0%, #40ff50 100%);
    border-image-slice: 1;
    order-width: 1px;
    padding-bottom: 5px;
}


.close-button {
    display: none;
}

.close-button-right {
    display: none;
}


.navbar {
    margin-left: 50px;
    margin-right: 50px;
}

.margin-bottom-fixed-50 {
    margin-bottom: 50px;
}

.margin-left-fixed {
    margin-left: -3.2%;
}

.graient-line {
    border-bottom: 1px solid;
    border-image: linear-gradient(to right, rgba(0, 255, 153, 0.27) 0%, rgba(0, 153, 51, 1) 100%);
    border-image-slice: 1;
    border-width: 2px;
}

.column-in-center{
    float: none;
    margin: 0 auto;
}

.column-in-center-work{
    display: table;
    margin: 0 auto;
}

/* centered columns styles */
.row-centered {
    text-align: center;
}

.col-centered {
    display: inline-block;
    float: none;
    /* reset the text-align */
    text-align: left;
}

.navbar-toggle {
    right: -20px;
}

.navbar-inverse .navbar-toggle {
    right: 5px;
}


.navbar-inverse .navbar-nav > li > a, .navbar-nav a {
    letter-spacing: 0px;
    font-size: 12px;
}

.font-bottom-image-descript {
    font-style: normal;
    font-size: 12px;
    color: #FFFFFF;
    margin: 0px 45px 15px 60px;
}

.size-img-social {
    max-height: 32px;
    max-width: 32px;
    border: 0px;
    width: 32px;
    height: 32px;
}


.size-img-social-footer {
    max-height: 64px;
    max-width: 64px;
    border: 0px;
    width: 64px;
    height: 64px;
}

.size-img-logo-footer {
    max-height: 128px;
    max-width: 128px;
    border: 0px;
    width: 128px;
    height: 128px;
}

.secrurity-note{
    text-decoration: underline;
    font-size: 10px;
}

.header-margin-top a:focus, .header-info a:focus, .header-info a:hover {
    text-decoration: none;
    color: white;
    -webkit-transition: all 0.35s ease-in-out;
    -moz-transition: all 0.35s ease-in-out;
    -o-transition: all 0.35s ease-in-out;
    transition: all 0.35s ease-in-out;
    border-radius: 7px;
    border-style: solid;
    border-width: 2px;
    border-color: #00FF99 !important;
    padding: 10px;
}

.margin-left-right-50 {
    margin-left: 50px;
    margin-right: 50px
}

/*if there is 768  pixels or more, then display the video but hide the image*/
@media only screen and (min-width: 768px) {
    #video {
        display: block;
    }

    #videosubstitute {
        display: none
    }

    .size-img-icon {
        max-height: 200px;
    }
}

.vertical-align {
    display: flex;
    flex-direction: row;
}

.vertical-align > [class^="col-"],
.vertical-align > [class*=" col-"] {
    display: flex;
    align-items: center;     /* Align the flex-items vertically */
    justify-content: center; /* Optional, to align inner flex-items
                              horizontally within the column  */
}

/*ipad ipad-pro*/
@media (min-width: 768px) and (max-width: 1024px) {

    .size-img-icon {
        max-height: 140px;
    }

    .centered-text-how-to-size-font {
        font-size: 0.7em;
    }

    .fixed-size-image-desctop {
        max-width: 220px;
        max-height: 170px;
    }

    .fixed-size-image-desctop {
        max-width: 120px;
        max-height: 90px;
    }

    .btn_game {
        font-size: 8px;
        padding: 8px 0px;
    }

    .margin-left-link {
        margin-left: 10px;
        font-size: 10px;
    }

    p {
        font-size: 11px;
    }

    .margin-left-fixed {
        margin-left: 0px;
    }

    font-center-heading-3 {
        font-size: 14px;
    }

    .margin-left-right-100 {
        margin-left: 50px;
        margin-right: 50px
    }

}


/*mobiles*/
@media (max-width: 767px) {
    .md-modal {
        min-width: 100% !important;
        top: 53% !important;
    }

    .centered-text-how-to-size-font {
        font-size: 1.4em;
    }

    .root-div {
        background: none !important;
    }

    .section-common {
        margin: 0px;
    }

    #fullScreenDiv {
        margin: 0px !important;
        max-height: 610px;
    }

    .fixed-size-image-desctop {
        max-width: 250px;
        max-height: 200px;
    }

    .p-mobile {
        font-size: 14px !important;
        line-height: 17px !important;
        margin-top: 10px;
        margin-left: -19px;
    }

    .size-img-icon {
        max-width: 270px;
        max-height: 270px;
    }

    .size-img-icon-mobile {
        max-width: 100px;
        max-height: 100px;
    }

    .margin-left-right-100 {
        margin: 10px !important;
    }

    .p-mobile-heght-font {

    }

    .font-align-left-text-4 {
        font-size: 10px;
    }

    .middle-info {
        margin-bottom: 3%;
    }

    h3_1 {
        font-weight: 200;
    }

    .logo-icon-static {
        margin-left: -20px;
    }

    .header-margin-top {
        margin-top: 0px;
        width: 100%;
        margin-left: 0px;
        height: 60px;
    }

    .navbar-toggle .icon-bar {
        background-color: #fff;
    }

    .none-visible {
        display: none;
    }

    .close-button {
        max-width: 24px;
        max-height: 24px;
        display: block;
    }

    .close-button-right {
        float: right;
        background: transparent;
        border: none;
        display: block;
    }

    .navbar {
        margin-left: 0px;
        margin-right: 0px;
        font-weight: 300;
        text-align: center;
    }

    .btn_2 {
        background-color: white;
        color: #333;
    }

    .section-common {
        min-height: 100vh;
    }

    .font-center-heading-3 {
        margin-bottom: 40px;
    }
}


