.floatclass {
    float: left;
}
.govrgologo {
    color: white;
    font-size: 200%;
}

.graytext {
    color: gray;
    font-size: 200%;
}

#myVideo {
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
}